# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# dotenv environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Others
coverage/
*.tgz

# Local npm link
*.local

# Misc
.cache/
.pnpm-debug.log*
